
<html>
<head>
    <title>{{ip}}</title>
    <style type="text/css">
    .outer{
    }
    .inner{
        line-height: 200px;
        font-family: Arial;
        font-size: 200px;
    }
    </style>
</head>
<body>
    <div class="outer"><div class="inner">{{ip}}</div></div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/trianglify.js"></script>

    <script>
        var t = new Trianglify();
        var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
        document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);

        </script>
    </body>
    </html>
